.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 24px 0;
}

.footer-text {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
}

.footer-strong {
  margin: 0 8px;
}

.footer-img {
  max-width: 24px;
  display: inline-block;
}
