.main-container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.main-container > section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

.form-box {
  background-color: #002c34;
  box-shadow: 0 1px 8px rgba(0,0,0,.45);
  border-radius: 4px;
  max-width: 300px;
  padding: 16px;
  width: 100%;
}

.title-box {
  width: 400px;
  text-align: left;
  font-size: 32px;
}
